{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "eol-last": "warn",
    "semi": [
      "warn",
      "always"
    ],
    "comma-dangle": [
      "warn",
      "always-multiline"
    ]
  }
}